
        header{
            background-color:#8A8ADD ;
            color: #000080;
            text-align: center;
            width: 900px;
        }
        .flex-container{
            display: flex;
        }
        .a{
            width: 180px;
        }
        .b{
            width: 520px;
        }
        .c2{
            width: 200px;
            background-color: #8A8ADD;
        }
        .hh1
        {
            font-size: 20px;
        }
        h2
        {
            
            font-size: 15px;
        }
        .c{
            width: 200px;
        }
        ul{
            list-style:"- " ;
        }